.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-button {
  margin: 8px;
  height: 40px;
  padding: 8px 12px;
  background: #282c34;
  color: white;
  outline: none;
  border: 1px solid #282c34;
  border-radius: 12px;
  box-shadow: 3px 3px 3px #ccc;
}

.App-button:hover,
.App-button:active {
  background: white;
  color: #282c34;
}
